.career-hero{
    height: 339px;
    margin-top: 118px;
}
.career-hero__inner{
    position: relative;
    width: 100%;
    height: 339px;
    background: url("./img/hero__career.jpg") center/cover no-repeat;
}
.career-hero__content{
    position: absolute;
    top: 75px;
    left: max(24px,calc((100% - 956px)/2));
}
.career-hero h1{
    display: table;
    height: 70px;
    padding: 3px 10px;
    background: #FFFFFF;
    font-family: Viga,sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
}
.career-hero__ja{
    display: table;
    height: 30px;
    margin-top: 18px;
    padding: 3px 10px;
    background: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.career-hero__lead{
    display: table;
    height: 30px;
    margin-top: 18px;
    padding: 7px 10px;
    background: #FFFFFF;
    color: #988C2C;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.career-main{
    width: 980px;
    margin: 0 auto 176px;
    padding: 145px 0 0;
    border-radius: 10px;
    background: #FFFFFF;
}
.career-page-content{
    width: 980px;
}
.career-page-content>h2{
    height: 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
}
.career-path{
    width: 980px;
    margin-top: 113px;
}
.career-path>p{
    font-size: 16px;
    line-height: 16px;
}
.career-path>img{
    width: 980px;
    height: 734px;
    margin-top: 48px;
    object-fit: cover;
}
.career-path .career-path__description{
    margin-top: 37px;
}
.career-training{
    display: flex;
    flex-direction: column;
    gap: 37px;
    width: 980px;
    margin-top: 89px;
}
.career-training__item{
    width: 980px;
    height: 156px;
}
.career-training__item--large{
    height: 185px;
}
.career-training__item h3{
    display: flex;
    align-items: center;
    width: 980px;
    height: 48px;
    padding-left: 21px;
    border-radius: 10px;
    background: #AFA86F;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
}
.career-training__item p{
    margin-top: 50px;
    font-size: 16px;
    line-height: 1.8;
}
